.wrap_blog{width: 100%;height: auto;margin: auto;font-family: 'Roboto', sans-serif;float: left;}
.blog_cntr{width: 100%;height: auto;margin:auto;background-color: #fff;padding-top: 120px;font-family: 'Roboto', sans-serif;float: left;}
.blog_main{width: 96%;height: auto;margin:auto;float: none;}
.lft_img_b{width: 50%;height: auto;margin: auto;float: left;}
.lft_img_b img{width: 100%;height: auto;margin: auto;float: left;margin-left: 40px;}
.rgt_txt_b{width: 50%;height: auto;margin: auto;float: left;padding:10px;padding-top:125px;}
.head_bgb{width: auto;margin: auto;float: left;margin-left: -214px;}
.head_bgb img{width: 100%;height: 84px;}
.rgt_txt_b h1{width: 60%;height:auto;margin: auto;float: left;text-transform: uppercase;text-align: center;color: #6a8c15;
            font-weight: 600;font-size: 50px;padding-top:8px;bottom: -8px;margin-top: -85px;z-index: 9999;margin-left: -100px;}
.rgt_txt_b h3{width: 80%;height: auto;margin: auto;float: left;font-weight: 300; font-weight: 300;padding-left: 54px;color: #6a8c15;font-size: 30px;width: 63%;padding-top:12px;}
.time_box{width: 100%;height: auto;margin: auto;float: left;padding:40px 50px 0px 50px;}
.time_icn{width: auto;margin:auto;float: left;margin-right: 10px;}
.time{padding-top: 2px;width: auto; margin: auto;float: left;}
.socl_cntr{width: 100%;height: 30px;margin:auto;float:left;background-color: #fff;margin-bottom: 10px;}
.cont_1p{width:100%;height: auto;margin: auto;float:left;height:auto;overflow: hidden;}
.cont_1p p{width: 70%;float: right;font-weight: 300;font-size: 16px;padding-top: 20px;text-align: justify;line-height: 30px;padding-right: 40px;}
.hr_line{width: 100%;height: auto;margin: auto;float: left;}
.wrap_blog hr{width: 96%;height:1px;margin: auto;float:none;background-color: #ccc;margin-bottom: 40px;border:none;}

.sub_cntnr{width: 100%;height: auto;margin: auto;float: left;padding-bottom: 40px;}
.sub_blog{width: 96%;height: auto;margin: auto;}
.sub_blog_lft{width:70%;height: auto;margin: auto;float: left;}
.sub_cntnr .rgt_txt_b h1{width: 60%;font-size: 22px;margin-top: -50px;margin-left: -28px;}
.sub_cntnr .head_bgb{margin-left: -40px;}
.sub_cntnr .head_bgb img {width: 89%;height: 50px;}
.scl_bx1{width: 90%;height: auto;margin:auto;}
.sp_ic1{width: 40px;height: auto;margin:auto;float: left;}
.clr_fb{color:#333b79;}
.clr_tw{color:#0c7ca1;}
.clr_in{color:#0c7ca1;}
.clr_yt{color:#ce4041;}

.featr{width: 30%;height: auto;margin:auto;float: left;}
.img_sr{width:23%;height: auto;margin: auto;float: left;}
.img_sr img{width: 100%;height: auto;margin: auto;float: left;}
.featr h5{font-size: 20px;text-transform: uppercase;color:#333b79;margin: auto;float: left;width: 100%;margin-bottom: 8px; }
.featr hr{width: 100%;height: 1px;border: none;float: left;margin: auto;background-color: #ccc;}
.featr_blg{width: 100%;height: auto;margin:auto;float: left;margin-top: 10px;}
.ftr_p{width: 77%;height: auto; margin: auto; float: left; padding: 4px 10px;color:#a2a2a2;font-weight: 300;}
.box_ftrd{    width: 100%;
    height: auto;
    margin: auto;
    float: left;
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;}
.sub_blog_lft .rgt_txt_b{padding-top: 10px;}
.sub_blog_lft .lft_img_b{width: 35%;}
.sub_blog_lft p{margin-left: 30px;margin-top: 20px;text-align: justify;font-weight: 300;}
.sub_blog_lft .time_box{padding-top: 14px;padding-left: 30px;}
.sub_blog_lft .lft_img_b img{margin-left: 20px;}
.sub_blog_lft .time{color: #f9c200;}

.section.footer{margin: auto;float: left;width: 100%;}

.blg_foot{width: 100%;height:200px;margin: auto;float: left;background-color: #262626;}
.blg_ftr_cntr{width: 90%;height: auto;margin: auto;padding:20px 0;}
.blg_cpy{background-color: #070707;width: 100%;margin: auto;float: left;}
.blg_hdr{width: 100%;height: 80px;margin:auto;float: left;position: fixed;top: 0;background-color: #fff;box-shadow: 4px 4px 15px #ccc;}
.blg_hdr_cntr{width: 90%;height: auto;margin: auto;}
.blg_logo{width: 200px;height: auto;margin: auto;float: left;}
.top_bx{width: auto;margin: auto;float: left;margin-right: 20px;font-size: 13px;color: #000;font-weight: 500;padding:4px;}
.top_blg_head{width: 100%;height: auto;margin: auto;float: left;}
.menu_area{width:60%;height: auto;margin: auto;float: right;}
.menu_area li{list-style: none;text-transform: uppercase;width: 20%;margin: auto;float: left;text-align: center;}
.menu_area li a{color: #0d5f02!important;}
.menu_area .butn{background-color: #fbb233;color: #fff;border: none;border-radius: 8px;padding: 6px;margin-top: -8px;width: 20%;text-transform: uppercase;}
.menu_area .butn:hover{background-color: #bf7900;}
.active_mnu, .menu_area li:hover{font-weight: 600;}

.social_box{width: 100%;height: auto;margin:auto;float: left;padding-top: 20px;}
.rond_scl{width: 30px;height: 30px;margin: auto;float: left;margin-right: 30px;background-color: #fff;color: #000;border-radius: 20px;text-align: center; line-height: 32px;}
.quick_lnk{width: 100%;height: auto;margin:auto;padding-top: 20px;float: left;text-transform: uppercase;}
.quick_lnk li{width: 25%;text-align: center;margin:auto;float: left;list-style: none;}
.quick_lnk li a{color: #fff;}
.quick_lnk li a:hover{color: #fbb233;}
.send_mail{width: 100%;height: auto;margin: auto;float: left;padding-top: 20px;text-align: center;}
.send_mail .butn{background-color: #fbb233;color: #fff;border: none;border-radius: 8px;padding: 6px;margin-top: 0px;width: 20%;text-transform: uppercase;float: right;}
.send_mail .butn:hover{background-color: #bf7900;}
.snd_inp{padding: 4px;border-radius: 8px;border: none;height: 36px;width: 70%;}
.blg_ftr_cntr hr{width: 100%;height: 4px;border:none;margin:auto;float: left;margin:10px 0px;background-color: #474747;}
.blg_ftr_cntr h3{color: #fca000;}
.img_ftr{width: 100%;height:auto;}
.box_view{padding:20px;width: 96%;height: auto;margin: auto;float: left;box-shadow: 1px 1px 15px #ccc;color: #000;margin-bottom: 8px;border-radius: 8px;}
.box_view:hover{box-shadow: 1px 1px 15px #fcec39;}
.top_bnr{width: 100%;height: auto;margin: auto;float: left;padding:4px;color: #000;margin-bottom: 4px;}
.top_bnr .lft_img_b img:hover{box-shadow: 1px 1px 15px #ccc;}
.box_ftrd:hover .ftr_p{color: #000;}
.box_ftrd:hover .img_sr img{transform: scale(1.1);transition: 3s;}
.mrg_tbp{width: 100%;height: auto;margin:auto;float: left;margin-top: 20px;}
.mrg_tbp h5{color: #fff;font-weight: 600;}
.bck_btn{background-color: #fbb233;color: #fff;border: none;border-radius: 8px;padding: 6px;margin-top:20px;width:40px;text-transform: uppercase;float: right;}
.bck_btn:hover{background-color: #bf7900;}