body{margin:0px;top:0;bottom:0;left:0;right:0; font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6, p{font-family: 'Roboto', sans-serif; }
dl, ol, ul{padding:0px;padding-left: 10px;}
h4{font-size: 14px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
a:hover, a:focus{text-decoration: none;}

/*-----main_css----*/
.wrapper{width: 100%;height:auto;margin:auto;}

/*---------Header_area_started----------*/
.lg_1{width:100px;float:left;font-size: 20px;margin: auto;padding-top: 10px;margin-left: 10px;}
a{color: #6c757d;}
.free_sp{margin-top: 20px;}

.text1{width: 30%;height:300px;padding: 10px;box-shadow:2px 0px 4px 2px rgba(175, 175, 175, 0.4);float: left;padding-top: 0px;
        margin:2%;margin-left: 0px;margin-top:1%;}
.text2{width: 40%;height:300px;padding: 10px;box-shadow:2px 0px 4px 2px rgba(175, 175, 175, 0.4);float:left;padding-top: 0px;
        margin:2%;margin-top:1%;}
.text3{width: 22%;height:143px;box-shadow:2px 0px 4px 2px rgba(175, 175, 175, 0.4);float: left;padding-top: 10px;margin:2%;
       margin-right: 0%;margin-top:1%;margin-bottom:0%;padding-bottom:0px;}
.as_on1{width:auto;margin: auto;color:#45484a;font-family: "Calibri";font-size: 16px;text-align: center;max-width: 380px;}
.as_on2{width: auto;margin: auto;color: #45484a;font-family: "Calibri";text-align: center;font-size: 16px;max-width: 360px;}
.petty{width: 80%;height: 70px;margin: auto;background-color: #fff;border-radius: 8px;margin-top: 20px;box-shadow: 0px 4px 5px rgba(175, 175, 175, 0.6);
       border-right: 30px solid #00a8eb;text-align: center;color: #28a745;font-size: 12px;padding-top:14px;box-shadow:0px 1px 5px 2px rgba(175, 175, 175, 0.6);}
.petty:hover, .main:hover, .asper1:hover, .asper2:hover{box-shadow: 0px 8px 8px rgba(175, 175, 175, 0.6);}
.main{width: 80%;height: 70px;margin: auto;background-color: #fff;border-radius: 8px;margin-top: 50px;border-right: 30px solid #00a8eb;
      text-align: center;color: #28a745;font-size: 12px;padding-top:18px;box-shadow:0px 1px 5px 2px rgba(175, 175, 175, 0.6);}
.petty h5, .main h5{color:#00a8eb;margin-bottom: 10px;font-weight: 600; width: 266px;line-height: 14px;max-height: 24px;}
.petty h4, .main h4{color: #28a745;max-width: 260px;}
.spn2, .Bank_head h5{color: #cf0000;max-width: 380px;}
.choose1{width:auto;height: auto;float: right;text-align: right;margin:auto;background-color:rgba(114, 185, 214, 0.2);
          padding: 2px 6px;border-radius: 4px;margin-bottom:10px;margin-right: -10px;}
.choose1 h3{width:auto; margin: auto;float:right;font-size: 16px;text-align: right;padding-right: 4px;color: #039;}
.choose1 h3 a{float: right;margin-left: 10px;}
.choose2{width: 30%;height: auto;float: right;text-align: right;margin:auto;margin-bottom: 20px;}
.choose2 h3{width:20%; margin: auto;float: left;font-size: 20px;text-align: right;}
.ch1{border-radius: 8px;border: 1px solid #dadada;color: #b90000;height: 23px;font-size: 14px}
.spn3{color: #333;}
.asper1{width: 80%;height: 100px;margin: auto;background-color: #fff;border-radius: 8px;margin-top: 10px;box-shadow:0px 1px 5px 2px rgba(175, 175, 175, 0.6);
       border-bottom: 15px solid #00a8eb;}
.asper2{width: 80%;height: 100px;margin: auto;background-color: #fff;border-radius: 8px;margin-top: 20px;box-shadow:0px 1px 5px 2px rgba(175, 175, 175, 0.6);
       border-bottom: 15px solid #00a8eb;}
.Bank_head{width: 100%;height:auto;margin:auto;text-align: center;padding-top: 10px;}

.table1{width: 90%;height: auto;margin:auto;}
.tr2{border-bottom:1px solid #ccc;}
.th1{font-size: 13px;color:#039;    text-align: center;}
.td1{border-right: 1px solid #ccc;}
.td2{color: #00a8eb;}
/*td:hover{background-color:#f9f9f9;}*/
td{font-size: 14px;}
.Debt{width:100%;height: 110px;margin: auto;background-color: #fff;border-radius: 8px;margin-top: 20px;box-shadow: 0px 4px 5px rgba(175, 175, 175, 0.6);text-align: center;color: #28a745;font-size: 12px;padding-top:18px;}
.Debt h5{font-size: 14px!important;font-weight: 600!important;color: #000!important;}

.footer_container{height: 30px;width: 100%;margin: auto;background-color: #1e335e;position:fixed;bottom:0;}
.footer{height: auto;width: 96%;margin: auto;}
.foot_l{width: 50%;height: auto;margin: auto;float: left;color: #fff;font-size: 13px;padding-top: 5px;}
.foot_r{width: 50%;height: auto;margin: auto;float: right;color: #fff;font-size: 13px;padding-top: 5px;text-align: right;}



.breadcrumb{width: auto;float: left; margin: auto;padding:0px;margin:10px;padding-left:20px; padding-right:20px;
            background-color: #8798ba;}
.breadcrumb-item.active{color:#fff;    font-size: 12px;}

.serch_1{width: 100%;height: 42px;margin:auto;background-color:#21324f;}
.se_1{margin-top:5px;width: 96%;color:#fff;}

/*----------------------------menu_ul css---------------------------*/
.menu_item ul.menu_ul{width: 100%; height: auto!important;overflow-y:auto!important;}


/*----------------------------menu_ul css_closed---------------------------*/

.menu_strip{background-color: transparent;width: 260px;height: 50px;margin:auto;float: left;}
.menu_strip h1{color: #fff;font-size: 13px;margin: auto;padding-top: 10px;font-family: 'Open Sans', sans-serif;
              text-align: center;text-transform: uppercase;padding-left:10px;font-weight: 600;float: left;}
.content_sec1{height:auto;margin:auto;float: left;background-color: #21324f;/*position: absolute;z-index: 10;*/overflow:hidden;width:260px;}

.mySearch {width: 99%;font-size: 18px;padding: 0px;border: 1px solid #48acf2;background-color: transparent;margin: auto;margin-top: 10px;margin-bottom: 10px;
        border-radius: 20px;color: #fff;font-size: 13px; padding: 5px 10px; font-family: 'Open Sans', sans-serif;}


/*----Menubar_section_started----*/

.sidenav {
  height: 100%;
  width:0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  background-color:#1e335e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 32px;
}

.sidenav_box{width: 250px;margin:auto;height: 100%;}
.sidenav a {
  padding:4px 4px 4px 4px;;
  text-decoration: none;
  font-size: 12px;
  color:#48acf2;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>


#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
#myMenu li{list-style:none;}
#myMenu li a {
  padding: 6px;
  text-decoration: none;
  font-size: 14px;
  color: #f2f2f2;
  display: block;
  list-style:none;border-radius: 4px 0px 0px 4px;margin-bottom:2px;border-bottom: 1px solid #2b3e65;
}

#myMenu li a:hover, #myMenu li a.active {color:#48acf2;background-color: #223b6f;}

.ser_box{width: 97%;margin: 4px;background-color:#192c52;border: 1px solid #2a4d94;border-radius: 20px;padding-left: 10px;color: #9ea0a1;
        font-size: 13px;margin-bottom: 10px;}
.fa_space{margin-right: 10px;}

.fa_ca{font-size: 12px;padding-left: 4px;}
/*------Menubar_section_closed------*/


/*-------App_administration_css_Started--------*/
.side1 {
  height:0px;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#1e335e;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 0px;
}

.side1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side1 a:hover {
  color: #f1f1f1;
}

.side1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .side1 {padding-top: 15px;}
  .side1 a {font-size: 18px;}
}
.app_head{width: 100%;height: 30px;margin:auto;background-color: #00a8eb;text-align: center;}
.app_head h5{color:#fff;margin:auto;padding-left:10px;padding-top:4px;text-transform: uppercase;font-size: 18px;}
.app1{width: 33.33%;height: 70px;background-color:#293e69;margin:auto;float: left;text-align: center;}
.spn1{color: #00a8eb;}
.app_fa{width: 100%;text-align: center; font-size: 20px;padding-top: 10px; color: #fff;}
.app1 h5{font-size: 12px;color: #fff;font-weight: 200;}
/*-------App_administration_css_closed------*/

.btn1{width: 80%;margin:auto;font-size: 14px;}
.debt{width: 100%;height: 98px;margin:auto;background-color:#f5f5f5;text-align: center;padding-top:10px;margin-top: 10px;}
 .debt h5{font-size: 14px!important;font-weight: 600!important;color: #000!important;margin-bottom:8px;
          max-width: 290px;line-height: 16px;max-height: 17px;overflow: hidden;}
/*-------Bootstrap css_edit-------*/

.carousel-control.left{background-image:none;}
.carousel-control.right{background-image:none;}
.carousel-control{width: 5%;}
.carousel-inner{height: 240px;}
.fa_slide{padding-top:100px;color: #333;font-size: 24px;}
.spn3{font-size: 12px;color:#cf0000;background-color: rgba(250, 250, 250, .4);}
.d1_con{z-index: 9999;height:auto;/*max-height: 200px;*/position: fixed; right: 37px;top: 187px;background-color: #fff;
        overflow:auto;display: none;max-width: 290px;}
.d2_con{z-index: 9999;height:auto;/*max-height: 200px;*/;position: fixed; right: 37px;top:330px;background-color: #fff;
        overflow:auto;display: none;max-width: 290px;}
.d3_con{z-index: 9999;min-height:auto;height:auto;position: fixed;right: 958px;top: 112px;background-color: #fff;
        overflow:auto;display: none;width:auto;padding-top: 0;}
.d4_con{z-index: 9999;min-height:auto;height:auto;position: fixed;right: 380px;top: 112px;background-color: #fff;
        overflow:auto;display: none;width:auto;padding-top: 0;}
.li1{list-style: none;font-size: 12px;padding:4px;border-bottom:1px solid #ccc;text-align: center;}
.text3 ul{padding-left: 0px;}
.li1:hover{background-color: rgba(194, 225, 225, .3);}
.cl_b{color: #333;}
.cl_r{color:#cf0000;}
.tx_l{text-align: left;}
.tx_r{text-align: left;}


.slas1{height: 90px!important;margin-bottom: 14px;}
.sl1{padding-top:40px;}
.sl_l{left: 3px!important;}
.sl_r{right: 3px!important;}
.as_on1 h5{font-size: 14px;font-weight: 600;line-height: 16px;max-height: 18px;overflow: hidden;max-width: 260px;}
.cre1{color: #d9534f;}
.cre2{color: #5cb85c;}
