.head_sec2_sub1, .closed, .breadcrumb, .left_dot, .tab_text1 a{background-color: #48acf2;}
.fa6, .app_box h5, .bar, .menu_item li a.active, .content_box1 h1, .bar:hover, .menu_fix1 h5, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus,
 .dropdown-menu>.active>a:hover, .c2, .fa-comments:hover, .fa-envelope:hover, .fa-bell:hover, .fa-comments:hover, .bt1:hover, .tab p, .tab h3, 
 .footer span, .sty{color: #48acf2;}
.mySearch{border: 1px solid #48acf2;}
.tab p{font-size: 11px;color: #909090;}